@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
  font-family: 'Suisse';
  font-weight: normal;
}

@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
);
  font-family: 'Suisse';
  font-weight: bold;
}

html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #005485;
  color: white;
  position: relative;
  max-width: 700px;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Suisse';
  box-sizing: border-box;
  padding: 36px;
}

.header {
  display: block;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 30px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  float: left;
}

.button {
  width: 230px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.5;
}

.image {
  /* max-width: 80%; */
  display: block;
  margin: 60px auto 50px;
  height: 400px;
}

.advice {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 70px;
  text-align: center;
  /* width: 100%; */
}

.footer {
  font-size: 16px;
  margin: 0;
  position: absolute;
  bottom: 36px;
}

.lang-picker li {
	list-style: none;
	display: inline-block;
  cursor: pointer;
}

.flag {
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 20px; 
  position: relative;
  float: right;
}

.flag-en {
  background-image: url(images/flags/en.gif);
}
.flag-en:hover {
  background-image: url(images/flags/en-ani.gif);
}

.flag-ru {
  background-image: url(images/flags/ru.gif);
}
.flag-ru:hover {
  background-image: url(images/flags/ru-ani.gif);
}

.flag-ua {
  background-image: url(images/flags/ua.gif);
}
.flag-ua:hover {
  background-image: url(images/flags/ua-ani.gif);
}

.flag-es {
  background-image: url(images/flags/es.gif);
}
.flag-es:hover {
  background-image: url(images/flags/es-ani.gif);
}